.row.justify-content-center
  .col-sm-12.col-md-10.col-lg-8
    .text-center
      .col-12
        = render 'layouts/search_forms', q: @q
      %table.table.table-hover{ border: 2, bordercolor: '#333333', width: '100%' }
        %thead.thead-dark
          %tr
            %th{ style: 'width: 10%'} No.
            %th{ style: 'width: 30%'} オタク語
            %th{ style: 'width: 40%'} 標準語
            %th{ style: 'width: 20%'} カテゴリー
        %tbody.table-primary
          - @otaku_words.each do |otaku_word|
            %tr{ data: { href: otaku_word_path(otaku_word) } }
              %td= otaku_word.id
              %td= otaku_word.word
              %td= otaku_word.meaning
              %td
                %ul
                  - otaku_word.categories.each do |category|
                    %li{ class: category.categories_badge }= category.name
