.row.justify-content-center
  .col-6
    .text-center
      %table.table.table-primary{ border: 2, bordercolor: '#333333' , cellpadding: 5, cellspacing: 0, style: 'table-layout: auto;', width: '50%' }
        %tr
          %td.font-weight-bold.table-dark No.
          %td= @otaku_word.id
        %tr
          %td.font-weight-bold.table-dark オタク語
          %td= @otaku_word.word
        %tr
          %td.font-weight-bold.table-dark 標準語
          %td= @otaku_word.meaning
        %tr
          %td.font-weight-bold.table-dark 解説
          %td= @otaku_word.description
        %tr
          %td.font-weight-bold.table-dark カテゴリー
          %td
            %ul
              - @otaku_word.categories.each do |category|
                %li{ class: category.categories_badge }= link_to category.name, category_path(category)
        %tr
          %td.font-weight-bold.table-dark 作成日
          %td= @otaku_word.created_at
        %tr
          %td.font-weight-bold.table-dark 最終更新日
          %td= @otaku_word.updated_at
      = link_to '戻る', otaku_words_path, class: 'btn btn-outline-primary'
